:root{
    --primary: #fff
}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Styling for the STYLES array */

/* First of the styling for the STYLES array */
.btn--primary {
    background-color: var(--primary);
    color: black;
    border: 1px solid #fff;
    font-weight: bold;
}

/* Second of the styling for the STYLES array */
.btn--outline{
    background-color: transparent;
    color: black;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    font-weight: bold;
}

/* Styling for the SIZES array */

/* First of the styling for the SIZES array */
.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

/* Second of the styling for the SIZES array */
.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

/* Creating the button 'hover' effect */
.btn--medium:hover, .btn--large:hover {
    background: black;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-out;
}
