/* Styling for landscaping container */
.landscaping-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landscaping-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landscaping-title{
    font-size: 50px;
}

/* Styling for kitchen container */
.kitchen-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kitchen-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kitchen-title{
    font-size: 73px;

}

/* Styling for decorating container */
.decorating-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.decorating-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decorating-title{
    font-size: 59px;
}

/* Styling for extension container */
.extension-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.extension-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extension-title{
    font-size: 58px;
}

/* Styling for bathroom container */
.bathroom-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bathroom-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bathroom-title{
    font-size: 59px;
}



@media only screen and (max-width:960px){
    /* Responsive styling for landscaping container */
    .landscaping-container{
        display: flex;
        padding-top: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landscaping-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .landscaping-title{
        font-size: 40px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    /* Responsive styling for kitchen container */
    .kitchen-container{
        display: flex;
        padding-top: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .kitchen-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .kitchen-title{
        font-size: 40px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    /* Responsive styling for decorating container */
    .decorating-container{
        display: flex;
        padding-top: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .decorating-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .decorating-title{
        font-size: 40px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    /* Responsive styling for decorating container */
    .extension-container{
        display: flex;
        padding-top: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .extension-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .extension-title{
        font-size: 40px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }



}